.contact{
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.contactInfo{
  flex: 1;
  margin: 40px;
  line-height: 1.5;
  font-size: 20px;
}
.contactInfo p{
  margin-bottom: 15px;
}
.contactInfo p svg{
  margin-left: 5px;
  margin-right: 5px;
  scale: 1.3;
}
.contactInfo p a:visited{
  color: black;
}
.contactPhoto{
  flex: 1;
  margin: 10px;
}
.contactPhoto img{
  max-height: 500px;
}
@media (max-width: 900px) {
  .contactPhoto {
    display: none;
  }
  .contact{
    padding-bottom: 30%;
  }
}
