.school{
  padding: 10px;
  padding-bottom: 50px;
}
.schoolBox {
  padding: 10px;
  background-color: 	#F5F5F5;
  box-shadow: 0 0 5px rgba(104, 58, 183, 0.5);
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;

}
.schoolHeading{
  text-align: center;
  font-size: large;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.school h2{
  margin-left: 5%;
  font-size: 30px;
  color: #b1acac;
}
.school .schoolHr{
  margin-bottom: 7px;
  border: none;
  height: 1px;
  background-color: #ccc;
  box-shadow: 0px -4px 8px rgba(4, 0, 255, 1.1);
}
@media (max-width: 1399px) {
  .school hr {
    margin-top: 10px;
  }
}
.cardContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-left: 0;
  min-height: 250px;
}
.card{
  flex-basis: calc(400px);
  margin: 15px;
  overflow: hidden;
  border-radius: 28px;
  color: white;
  text-align: center;
  min-width: 430px;
  cursor: pointer;
}
@media (max-width: 380px) {
  .card {
    min-width: unset;
  }
}
.cardLink{
  display: block;
  padding: 30px 20px;
  background-color: #121212;
  overflow: hidden;
  position: relative;
}
.cardCorner{
  height: 128px;
  width: 128px;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  -webkit-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
}
.cardInfo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.cardMain{
  flex: 1;
}
.cardDetail{
  flex: 1;
  display: none;
  z-index: 2;
  position: relative;
  padding-left: 5px;
}
.cardDetail ul{
  text-align: left;
  list-style: none;
  margin-top: 10px;
}
.cardDetail ul li{
  font-size: large;
  color: 	#301934;
  font-family: 'Times New Roman', Times, serif;
}
.card hr{
  margin: 0;
  padding: 0;
  border: 0.5px solid black;
}
.cardHeading{
  z-index: 2;
  position: relative;
}
.cardBody{
  font-size: large;
  z-index: 2;
  position: relative;
}
.starRating{
  color: rgb(255, 213, 0);
  z-index: 2;
  position: relative;
}
.card:hover .cardCorner,
.card.active .cardCorner{
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.card:hover .cardHeading,
.card:hover .cardBody,
.card:hover .starRating,
.card.active .cardHeading,
.card.active .cardBody,
.card.active .starRating{
  text-align: left;
  color: white;
}
.card:hover .cardDetail,
.card.active .cardDetail{
  display: block;
}